html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

#cover {
  background: #222 url('../Img/old-cover.jpeg') no-repeat center;
  background-size: cover;
  color: white;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

#cover-caption {
  width: 100%;
}

#footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0;
}

.custom-iframe {
  max-width: 600px;
  border: solid 1px black;
}

.custom-iframe2 {
  height: 1000px;
}

#about-carousel {
  border-bottom: solid 1px silver;
  margin-bottom: 50px;
}
